/*
|--------------------------------------------------------------------------
| WhoAmI Styles
|--------------------------------------------------------------------------
*/

.whoami {
	text-align: center;
	margin-bottom: 20px;
	.logo {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 20px;
		font-size: 12px;
		color: $gray-high;
		line-height: 1.2;
	}
}