/*
|--------------------------------------------------------------------------
| Footer Styles
|--------------------------------------------------------------------------
*/

footer {
	background-color: $purple-medium;
	color: $white;
	padding: 40px 50px;
	text-align: center;
	font-size: 12px;
}


