/*
|--------------------------------------------------------------------------
| Header Styles
|--------------------------------------------------------------------------
*/

header {
	background-image: linear-gradient(-179deg, $purple-medium 70%, transparent calc(70% + 2px));
	position: relative;
	text-align: center;
	margin-bottom: 40px;

	@media #{$from-ptb} {
		background-image: linear-gradient(-179deg, $purple-medium 90%, transparent calc(90% + 2px));
		height: 380px;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.title {
		line-height: 10;
		color: $white;
		font-size: 24px;
		font-weight: 800;

		@media #{$from-ptb} {
			line-height: 1;
			margin-bottom: 30px;
			font-size: 36px;
		}
	}

	.sub-title {
		color: $purple-light;
		font-weight: 400;
		padding: 0 40px;

		@media #{$from-ptb} {
			color: $white;
			font-size: 18px;
			padding: 0;
		}
	}
}


.form-search {
	padding: 30px 15px !important;
	background: $yellow-light;
	border-radius: 10px;
	margin-bottom: 40px !important;
	// line-height: 1;

	@media #{$to-mb} {
		margin: auto 15px 40px 15px !important;
	}
	@media #{$from-ptb} {
		display: flex;
		justify-content: space-between;
		padding: 20px 64px !important;
	}

	// STYLE CAMPO DE BUSCA
	.search-content {
		background: $white;
		border-radius: 8px;
		display: flex;
		position: relative;
		margin-bottom: 20px;
		padding: 0 15px;
		height: 39px;
		@media #{$from-ptb} {
			width: 300px;
			margin-bottom: 0px;
		}

		.search::placeholder { font-size: 12px; }

		.search-submit {
			font-size: 14px;
			font-weight: 700;
			position: absolute;
			padding: 10px 15px !important;
			right: 0;
			top: 0;
			height: 100%;

			&:hover {
				color: $white !important;
				background-color: $purple-medium !important;
			}
		}
	}

	// STYLE FILTRO DE PRAZO

	.filter-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media #{$to-smb} {
			flex-flow: column;
			align-items: unset;
		}
		
		span {
			color: $white;
			@media #{$to-smb} {
				margin-bottom: 6px;
			}
			@media #{$from-ptb} {
				margin-right: 20px;
			}
		}
		
		label {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transform-origin: top;
				transform: rotate(90deg);
				right: 20px;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 10px solid $gray-high;
				cursor: pointer;
				pointer-events: none;
				@media #{$to-smb} {
					left: 140px;
				}
			}
		}
		select {
			padding: 6px 30px;
			border-radius: 8px;
			border: 1px solid $white;
			font-weight: 400;
			position: relative;
			appearance: none;
			cursor: pointer;
			min-width: 180px;
			&::-ms-expand {
				display: none !important;
			}
			
			@media #{$from-ptb} {
				width: 200px;
				padding: 8.5px 30px;
			}
		}
	}
}
