html {
	font-family: 'OpenSans', sans-serif !important;
}

.container {
	max-width: $site-width;
	position: relative;
	margin: auto;
	@media #{$from-ptb} {
		margin: 0 20px 0 20px;
	}
}
.container-limit {
	margin: 0 15px 0 15px;
	@media #{$to-desk} {
		margin: 0;
	}
}
.container.container-limit {
	margin: auto;
	padding: 0 15px 0 15px;
	@media #{$from-ptb} {
		padding: 0 20px 0 20px;
	}
	@media #{$to-desk} {
		padding: 0;
	}
}


svg path { fill: $white; }
.clock svg path { fill: $red-light; }



.btn {
	text-decoration: none;
	display: block;
	padding: 5px 33px;
	border-radius: 8px;
	background-color: $purple-light;
	color: $white;
	transition: .3s all ease;
	border: 1px solid $purple-light;
	font-size: 16px;
	&:hover {
		color: $purple-light !important;
		background-color: transparent !important;
		svg path { fill: $purple-light; }
	}
	&.late {
		background-color: $red-light !important;
		color: $white !important;
		border-color: $red-light !important;
		&:hover {
			color: $red-light !important;
			background-color: $white !important;
			svg path { fill: $red-light; }
		}
	}
}

.load-more {
	margin: 0 auto;
	text-align: center;
	grid-column: 1 / -1;
	font-weight: 700;
	&:hover {
		background-color: $white;
		color: $purple-light;
		border: 1px solid $purple-light;
	}

}